@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
}

section {
  flex: none;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  scroll-snap-align: center;
  max-height: 100%;
  max-width: 100%;
}

#navigation {
  position: fixed;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  border: 0;
  z-index: 6;
  letter-spacing: 0.625rem;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

li {
  list-style-type: none;
  font-family: 'Open Sans';
  text-align: center;
}

nav ul {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.lisaa {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
  text-align: center;
}

#slogan {
  background-image: url('../public/img/slogan/earth2.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 50%;
  align-items: center;
}

#slogan-text {
  display: flex;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-size: 8vw;
  line-height: 158px;

  color: #00c463;

  mix-blend-mode: hard-light;
  text-shadow: 1px 6px 0px #e5e5e5;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
}
.container h2 {
  width: 100%;
  margin-top: 140px;
  font-size: 84px;
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
.container iframe {
  border: 3px solid #fff;
}

#blogit {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: auto;
}

.blog {
  flex-basis: 100%;
  padding: 0px 40px;
  width: 33%;
}

@media only screen and (max-width: 980px) {
  #blogit {
    width: 100%;
    display: block;
  }
  .blog {
    width: 100%;
  }
}

.blog h1 {
  font-size: 32px;
}
.blog p {
  font-size: 22px;
}

.blogimage {
  width: 100%;
}

#blogit button {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 10%;
  height: auto;
  padding: 30px;
}

.footer img {
  width: 260px;
}

.textPieces {
  padding: 80px 0px;
  width: 100%;
  height: 100%;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.textPieces p {
  font-size: 44px;
  padding: 20px;
}
.textPieces div p {
  font-size: 33px;
  width: auto;
}
.bold {
  font-size: 66px;
  font-weight: bold;
}
